*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  min-height: 100vh;
  width: 100%;
  overflow-x:hidden;
}
.div-top{
  height:10vh;
  width:100%;
  background:linear-gradient(90deg,#4719A2,#3C3409);
  gap:2%;
}
.div-top p{
  color: white;
  font-size: 16px;
  font-weight: 500;
}
.span1{
  color: #FFFF00;
}
.coming{
  padding: 4px 10px 4px 3px;
  gap:10px;
  border-radius: 30px;
  background-color: white;
  justify-content: space-evenly;
}
.coming a{
  font-weight: 600;
  font-size: 12px;
}
.coming button{
  padding: 0.2vw;
  border-radius: 15px;
  border: none;
  outline: none;
  background: linear-gradient(197.5deg, #6952FF -30.09%, #D375E5 180.76%);
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.nav{
  width: 100%;
  height: 11vh;
  background-color:#140f2e;
  padding-inline:7.9%;
  justify-content: space-between;
}
.list-sec{
  height:80%;
  width:60%;
  justify-content: space-between;
  font-size: 16px;
  color: white;
  font-weight: 400;
}
.list-sec img{
  width:80px;
}
.nav-buttons{
  height: 80%;
  width: 16%;
    justify-content: space-between;
}
#login{
  width: 46.1%;
  height: 81%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
}
#Sign{
  width: 46.1%;
  height: 81%;
  border-radius: 8px;
  background-color: #0FA457;
  font-size: 16px;
  color: white;
  font-weight: 600;
  border: none;
  outline: none;
}
.hero-section{
  background: linear-gradient(180deg, #140f2e 6.74%, rgb(42, 32, 99) 55%, rgb(92, 54, 196));
}
.hero-section1{
  height: 94vh;
  width: 100%;
  background: transparent;
  flex-direction: column;
  gap: 40px;
}
.dm{
  flex-direction: column;
}
.dm h1{
  margin-top: 52px;
  font-size: 22px;
  color: #17ff87;
  line-height: 32px;
}
.dm p{
  font-size: 52px;
  font-weight: 700;
  line-height: 70px;
  color: white;
}
.grid1{
  height: 61.25%;
  width: 85.22%;
  display: grid;
  grid-template-columns:15.4% 15.4% 32.3% 32.3%;
  grid-template-rows: repeat(2,47.56%);
  justify-content: space-between;
  row-gap: 4.8%;
}
.grid1-sec{
  border-radius: 24px;
  background: radial-gradient(97.57% 97.5% at 29.61% 25.71%, rgba(255, 255, 255, .9) 28.21%, rgba(245, 234, 255, .9) 100%);
  position: relative;
  border: 1px solid white;
  padding: 17px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap:0.5vw;
  transition: all .3s ease-in-out;
}
.grid1-sec span{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

}
.grid1-sec p{
  font-size: 16px;
  font-weight: 400;
  color: gray;
  line-height: 24px;
}
.grid1-sec button{
  text-align: center;
  border-radius: 36.75px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(91deg,rgb(106,73,197) 42.17%,rgb(171,107,224) 98.87%);
  color: white;
    padding:3px 6px;
}
#waitlist{
  color: #4b4b4b;
  padding:1px;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(90deg, #ff0000, #6600ff, #1a00ff, #ffdd00);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}
#waitlist span{
  width: 90%;
    color: #4b4b4b;
  z-index: 10 !important;
  font-size: 14px;
  font-weight: 600;
}
.arrow{
  position: absolute;
  height: 25px;
  width: 25px;
  bottom: 17px;
  background-color: white;
  border: none;
  outline: none;
  clip-path: circle(50% at 50% 50%);
  color:#4b4b4b;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.grid1-sec:hover{
   transform: translateY(-10px);
   .arrow{
    background-color: #6600ff;
    color: white;
   }
}
.grid1-sec img{
  width:22.91%;
  height: auto;
  position: absolute;
  bottom:0px;
  right: 0px;
  border-bottom-right-radius: 24px;
}
.grid1-sec:nth-child(4) img{
  width:48.1%;
  height: auto;
}
.grid1-sec:nth-child(5) img{
  width:48.1%;
  height: auto;
}
.grid1-sec:nth-child(1){
  grid-column-start: 1;
  grid-column-end: 3;
}
#unique{
  font-size: 8px;
  font-weight: 400;
  color: #e6e2ec;
  transform: translateY(-20px);
}
.hero-section2{
  height: 103vh;
  width: 100%;
  background: transparent;
    flex-direction: column;
    gap:34px;
}
.knowmore-sec{
  height: 37.2%;
  width: 85.2%;
  padding-left: 4.2%;
  background-image: url(tesla_Banner_Background_Desktop_166d114cb3.webp);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  align-items: start;
  gap:24px;
  border-radius: 20px;
}
.knowmore-sec h2{
  font-size: 28px;
  color: white;
  line-height: 36px;
}
.knowmore-sec p{
  font-size: 16px;
  font-weight: 400;
  line-height:40px;
  color: #e6e2ec;
}
.knowmore-sec button{
  height: 15%;
  width: 10%;
  border: none;
  outline: none;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.carowner{
  height:48%;
  width: 85.2%;
  flex-direction: column;
  justify-content: space-evenly;
}
.carowner p{
 font-size: 28px;
  font-weight: 600;
  color: white;
}
.carowner span{ 
  display: flex;
  
  p{
  font-size: 20px;
  font-weight: 400;
  color: white;
  }
  img{
    width: 76px;
  }
}
.grid2{
  margin-top: 20px;
  height: 56%;
  width: 100%;
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(380px,1fr));
  column-gap: 20px;
  grid-template-rows: repeat(auto-fit,minmax(200px,1fr));
  justify-content: space-between;
}
.grid2-sec{
  border-radius: 24px;
  background: radial-gradient(97.57% 97.5% at 29.61% 25.71%, rgba(255, 255, 255, .9) 28.21%, rgba(245, 234, 255, .9) 100%);
  position: relative;
  border: 1px solid white;
  padding: 17px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap:0.5vw;
  transition: all .3s ease-in-out;
}
.grid2-sec span{
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

}
.grid2-sec p{
  font-size: 16px;
  font-weight: 400;
  color: gray;
  line-height: 24px;
}
.grid2-sec img{
  width:35%;
  height: auto;
  position: absolute;
  bottom:0px;
  right: 0px;
  border-bottom-right-radius: 24px;
}
.grid2-sec:hover{
   transform: translateY(-10px);
   .arrow{
    background-color: #6600ff;
    color: white;
   }
}
.grid2-sec button{
  text-align: center;
  border-radius: 36.75px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  background: linear-gradient(91deg,rgb(106,73,197) 42.17%,rgb(171,107,224) 98.87%);
  color: white;
    padding:3px 6px;
}
.feature{
  width: 100%;
  height: 228.08vh;
  flex-direction: column;
  gap: 32px;
  
}
.feature-sec{
  height: 22.12%;
  width: 85.22%;
  background-color: white;
  justify-content: space-between;
  padding-inline: 3.65vw;
}
.text-area{
  height: 100%;
  width:59%;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.img-sect{
  height: 100%;
  width: 32%;
  position: relative;
  align-items: center;
}
.img-sect img{
  width: 83.6%;
  position: absolute;
  bottom: 0px;
}
.text-area p{
  font-size: 28px;
  font-weight: 700;
}
.text-area span{
  font-size: 16px;
  font-weight: 400;
}
.text-area button{
  padding: 0.97vw  1.61vw;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: 1px solid black;
}
#unq{
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  line-height: 36px;
}
#unq p{
    font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.gift-deal{
  background-image: url(Gift_Deal_web_1fe25abe0e.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: end;
  height:79.7vh;
  width: 100%;
  position: relative;
  padding-right:14vw;
}
.gift-text{
  flex-direction: column;
  width:44.45%;
  height: 100%;
  align-items: start;
  gap:18px;
}
.gift-text p{
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
}
#df{
  background: linear-gradient(91deg, #6136D9 11.34%, #D331B8 77.76%);
 background-clip: text;
  font-size: 44px;
  font-weight: 700;
  color: transparent;
}
.gift-text span{
  font-size: 18px;
  color: #4B4B4B;
}
.numb{
  height:8.55%;
  width:100%;
  justify-content: start;
  gap:0.8vw;
  margin-top: 30px;
}
.numb span{
  width:51.5%;
  height:100%;
  background-color: white;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 16px;
  justify-content: start;
}
.numb span p{
  font-size: 16px;
}
.numb span input{
  border: none;
  background-color: transparent;
  outline: none;
}
.button1{
  font-size: 16px;
  color: white;
  font-weight: 600;
  background-color:#0FA457;
  border-radius: 12px;
  padding: 14px 24px;
    border: none;
   outline: none;
}
.user{
  width: 100%;
  height: 64.45vh;
  position: relative;
  padding-left: 7.8vw;
  background-color: black;
}
.user-img{
  height: 400px;
  position: absolute;
  bottom: 0px;
  right: 100px;
}
.user-img img{
  height: 100%;
}
.user-text{
  height: 100%;
  width: 60%;
  flex-direction: column;
  color: white;
  align-items: start;
  gap:16px;
}
.user-text p{
  font-size: 44px;
  font-weight: 600;
}
.user-text span{
  display: flex;
  align-items: end;
}
#p1{
  font-size: 96px;
  line-height: 96px;
  font-weight: 600;
  background: linear-gradient(179deg,#a6a6a6 29.23%,#121212 92.79%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:rgba(0,0,0,0);
}
#p2{
  font-size: 44px;
  line-height: 96px;
  font-weight: 600;
   background: linear-gradient(179deg,#a6a6a6 29.23%,#121212 92.79%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:rgba(0,0,0,0);
}
.user-text button{
  margin-top: 16px;
}
footer{
  padding-top:2.84vw;
  background-color: #121212;
}
.footer-top{
  
  padding-inline: 7.74vw;
  color: white;
  padding-block:52px ;
  height: 332.6px;

  flex-direction: column;
  gap:2vh;
  align-items: start;
}
.acko-logo{
  height: 70%;
  width: 100%;
  align-items: start;
  flex-direction: column;
  gap:2vw;
  position: relative;
}
.acko-logo img{
  width:80px;
}
.acko-logo h4{
  font-size: 16px;
}
.acko-logo p{
  font-size: 14px;
  font-weight: 100;
}
.social-med{
  position: absolute;
  bottom: 0px;
  right: 0px;
  gap:1vw;
}
.social-med img{
  width: 30px;
}
.footer-bet{
  padding-inline:7.74vw;
  color: white;
  width: 100%;
  height: 71.4vh;
  padding-top: 56px;
  background-color: #121212;
}
.div-list{
  width: 25%;
  height: 448.8px;
  gap:3.3vh;
  display: flex;
  flex-direction: column;
}
.div-list span{
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
.div-list ul{
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap:2.2vh
}
.footer-bot{
  width: 100%;
  padding-inline:7.74vw;
    background-color: #1e1e1e;
}
.ft-top{
  width: 100%;
  height: 211.6px;
  flex-direction: column;
  gap:20px;
}
.ft-div{
  color: white;
  background-color: #000000;
  width: 100%;
  height: 60px;
  padding-inline: 24px;
  justify-content: start;
  position: relative;
}
.ft-div i{
  position: absolute;
  right: 24px;
}
.ft-div p{
  width:24.4%;
}
.ft-bot{
  height: 165px;
  width: 100%;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.dm5{
  display: flex;
   flex-direction: column;
   align-items: start;
   gap:5px;
   color: white;
}
.ft-bot p{
  font-size: 12px;
  color: grey;
}
@media (max-width: 800px) {
  body {
    width: 100%;
    overflow-x:hidden;
  }
  .coming{
    display: none;
  }
  .hero-section1 {
    padding-top: 20px;
    height: 350vh;
    justify-content: start;
    padding-inline: 5vw;
  }
  .hero-section1{
    text-align: center;
  }
  #dm10{
    font-size: 35px;
    line-height: 45px;
  }
    .hero-section2{
      height: 250vh;
      width: 100%;
    }
  .knowmore-sec{
    height: 30%;
    width: 80%;
  }

  .grid1 {
    grid-template-columns: 1fr; 
    grid-template-rows:auto;
    width: 100%; 
    height: 300vh;               
  }

  .grid1-sec:nth-child(1) {
    grid-column: auto;
  }

  .grid2 {
    grid-template-columns: 1fr; 
    row-gap: 20px;    
    height: 70%; 
    width: 100%;
  }
  .carowner{
    height: 60%;
    text-align: center;
  }
  .knowmore-sec button {
    width: 50%;
  }
  .nav {
    padding-inline: 20px;
  }
  .list-sec li{
    display: none; 
  }
  .nav-buttons {
    width: 50%;
  }
  .feature{
    height:400vh;
  }
  .feature-sec{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .text-area{
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
  }
  .img-sect{
    width: 70%;
    height: 40%;
  }
  .gift-deal{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
  }
  .gift-text{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .gift-text p,
  #df{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
  }
  .numb{
    justify-content: center;
  }
  .user{
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-left: 0px;
  }
  .user-text{
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
  }
  .user-text p{
    font-size: 32px;
    text-align: center;
  }
  .user-img{
   height: 20%;
    width: 100%;
    
  }

  #p1{
    font-size: 55px;
  }
  #p2{
    font-size: 26px;
  }
  .user-img{
    height: 50%;
  }
  .footer-top{
    padding-top:20px;
    height: 100%;
    align-items: start;
  }

  .social-med{
    justify-content: start;
    position: static;
  }
  .div-list li{
    font-size: 12px;
  }
  .footer-bot{
    height: auto;
  }
  .ft-div{
    font-size: 12px;
  }
}

@media (min-width: 800px) and (max-width:1100px){
  .hero-section2{
    height: 250vh;
  }
  .carowner{
    height: 80%;
  }
  .grid2{
    row-gap: 30px;
  }

}




